<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">WELCOME to Webstore</h1>
 <h2> Name: Nikhil </h2> 
 <h2> Address: 10 wayfair road, eh10 1jd, Edinburgh </h2> 
 <h2> Phone : 07891067453 </h2> 
 <h2> Email : no@no.com </h2> 
 </div>
<%- include('footer'); -%>