<%- include('header'); -%>
 <div class="content">
 <p> Regitration Form </p>
 <form>
 <label for="name">Name:</label><br>
 <input type="text" id="name" name="name"><br>
 <label for="phone">Phone:</label><br>
 <input type="text" id="phone" name="phone"><br>
 <label for="address">Address:</label><br>
 <input type="text" id="address" name="address"><br>
 <label for="city">City:</label><br>
 <input type="text" id="city" name="city"><br>
 <label for="zip">Zip:</label><br>
 <input type="text" id="zip" name="zip"><br>
 <label for="username">Username:</label><br>
 <input type="text" id="username" name="username"><br>
 <label for="password">Password:</label><br>
 <input type="text" id="password" name="password"><br>
 <button>Submit</button>
 </form>
<%- include('footer'); -%>s